div{
    border-radius: 5px;
}
body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    overflow: scroll;
}
img{
    width: 200px;
    height: 200px;
    border: 5px solid #d9d9d9;
}
.header {
    padding: 2.5em 10%;
    border-bottom: 3px solid #444444;
    overflow: hidden;
    
}
#pic_name{
    width: max-content;
    overflow: hidden;
}
#picture{
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
#name{
    float: right;
    margin: 25px;
    vertical-align: middle;
    font-size: 80px;
    color: #d9d9d9;
}
nav{
    float: right;
}
#logo{
    width: 25px;
    height: 25px;
    border: none;
}
.content{
    color: #d9d9d9;
    float: left;
}
p{
    font-size: 20px;
}
hr{
    width: 20px;
    margin: 0;
    border-top: 2px solid #003999;

}
/*'Oleo Script', Helvetica, sans-serif */
/*'Great Vibes', Helvetica, sans-serif   003999*/